:root {
  --font-reg: 400;
  --font-med: 500;
  --font-bold: 700;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: var(--font-reg);
}

/* Mobile only */
@media only screen and (max-width: 432px) {
  
  .m-hide {
    display: none;
  }

}

/* Tablet */
@media only screen and (min-width: 432px) {

}

/* Desktop */
@media only screen and (min-width: 632px) {

}